In [1]:
import numpy as np
import pandas as pd
import glob

In [5]:
path = '../data/'
documents = ['photos', 'keywords', 'collections', 'conversions', 'colors']
datasets = {}

for doc in documents:
  files = glob.glob(path + doc + ".tsv*")

  subsets = []
  for filename in files:
    df = pd.read_csv(filename, sep='\t', header=0)
    subsets.append(df)

  datasets[doc] = pd.concat(subsets, axis=0, ignore_index=True)

In [6]:
datasets["photos"].head()

,photo_id,photo_url,photo_image_url,photo_submitted_at,photo_featured,photo_width,photo_height,photo_aspect_ratio,photo_description,photographer_username,...,photo_location_country,photo_location_city,stats_views,stats_downloads,ai_description,ai_primary_landmark_name,ai_primary_landmark_latitude,ai_primary_landmark_longitude,ai_primary_landmark_confidence,blur_hash
0,oSf8ePoG9NU,https://unsplash.com/photos/oSf8ePoG9NU,https://images.unsplash.com/20/frozen-grass.JPG,2013-12-04 14:58:49,t,4000,2667,1.5,NaN,andrekoch,...,NaN,NaN,4296224,30072,black road in between white and brown grass ac...,NaN,NaN,NaN,NaN,LPBM;~RkM|of~VRkNHof%1RjRkof
1,DlsOa5moK4w,https://unsplash.com/photos/DlsOa5moK4w,https://images.unsplash.com/reserve/dRA4UuMBR2...,2014-07-10 17:19:38,t,5184,3456,1.5,Fresh blueberries,majkmmiklavc,...,NaN,NaN,8731049,26411,selective focus of blueberry plant,NaN,NaN,NaN,NaN,LiJ+M4s=-pj;~qx]RpbXx1ogRkob
2,XBGacbT3vXI,https://unsplash.com/photos/XBGacbT3vXI,https://images.unsplash.com/photo-143633523196...,2015-07-08 05:54:38.486126,t,6000,4000,1.5,NaN,shooshanig,...,NaN,NaN,2224540,19250,photography of calm beach side,NaN,NaN,NaN,NaN,LSL}HBR*a{fP_NWVoej[x^s.j[ay
3,FjikPptEbZg,https://unsplash.com/photos/FjikPptEbZg,https://images.unsplash.com/flagged/photo-1441...,2015-08-31 07:12:27.700568,f,3008,2008,1.5,NaN,websanya,...,France,Saint-Étienne-de-Tinée,45536,421,green trees on mountain under white clouds dur...,NaN,NaN,NaN,NaN,LyF7Cux[M{kB?^t6azbHRjjrt7ae
4,PXdBkNF8rlk,https://unsplash.com/photos/PXdBkNF8rlk,https://images.unsplash.com/photo-144596683821...,2015-10-27 17:30:25.724092,t,3000,2000,1.5,Icebergs of Iceland’s Vatnajokull,andersjilden,...,Iceland,NaN,7394191,43442,icebergs floating on body of water during daytime,NaN,NaN,NaN,NaN,LQG]];?b~qayBtIU9Ft79xj[tRM|

In [9]:
datasets["photos"].iloc[0]

photo_id                                                                oSf8ePoG9NU
photo_url                                   https://unsplash.com/photos/oSf8ePoG9NU
photo_image_url                     https://images.unsplash.com/20/frozen-grass.JPG
photo_submitted_at                                              2013-12-04 14:58:49
photo_featured                                                                    t
photo_width                                                                    4000
photo_height                                                                   2667
photo_aspect_ratio                                                              1.5
photo_description                                                               NaN
photographer_username                                                     andrekoch
photographer_first_name                                                       Andre
photographer_last_name                                                         Koch
exif_camera_make                                                                NaN
exif_camera_model                                                               NaN
exif_iso                                                                        NaN
exif_aperture_value                                                             NaN
exif_focal_length                                                               NaN
exif_exposure_time                                                              NaN
photo_location_name                                                             NaN
photo_location_latitude                                                         NaN
photo_location_longitude                                                        NaN
photo_location_country                                                          NaN
photo_location_city                                                             NaN
stats_views                                                                 4296224
stats_downloads                                                               30072
ai_description                    black road in between white and brown grass ac...
ai_primary_landmark_name                                                        NaN
ai_primary_landmark_latitude                                                    NaN
ai_primary_landmark_longitude                                                   NaN
ai_primary_landmark_confidence                                                  NaN
blur_hash                                              LPBM;~RkM|of~VRkNHof%1RjRkof
Name: 0, dtype: object

In [8]:
for req_key in datasets.keys():
    print(f"Dataset: {req_key}, Shape: {datasets[req_key].shape}")
    print(f"Columns: {datasets[req_key].columns.tolist()}")
    display(datasets[req_key].head())
    print("\n")

Dataset: photos, Shape: (25000, 31)
Columns: ['photo_id', 'photo_url', 'photo_image_url', 'photo_submitted_at', 'photo_featured', 'photo_width', 'photo_height', 'photo_aspect_ratio', 'photo_description', 'photographer_username', 'photographer_first_name', 'photographer_last_name', 'exif_camera_make', 'exif_camera_model', 'exif_iso', 'exif_aperture_value', 'exif_focal_length', 'exif_exposure_time', 'photo_location_name', 'photo_location_latitude', 'photo_location_longitude', 'photo_location_country', 'photo_location_city', 'stats_views', 'stats_downloads', 'ai_description', 'ai_primary_landmark_name', 'ai_primary_landmark_latitude', 'ai_primary_landmark_longitude', 'ai_primary_landmark_confidence', 'blur_hash']

,photo_id,photo_url,photo_image_url,photo_submitted_at,photo_featured,photo_width,photo_height,photo_aspect_ratio,photo_description,photographer_username,...,photo_location_country,photo_location_city,stats_views,stats_downloads,ai_description,ai_primary_landmark_name,ai_primary_landmark_latitude,ai_primary_landmark_longitude,ai_primary_landmark_confidence,blur_hash
0,oSf8ePoG9NU,https://unsplash.com/photos/oSf8ePoG9NU,https://images.unsplash.com/20/frozen-grass.JPG,2013-12-04 14:58:49,t,4000,2667,1.5,NaN,andrekoch,...,NaN,NaN,4296224,30072,black road in between white and brown grass ac...,NaN,NaN,NaN,NaN,LPBM;~RkM|of~VRkNHof%1RjRkof
1,DlsOa5moK4w,https://unsplash.com/photos/DlsOa5moK4w,https://images.unsplash.com/reserve/dRA4UuMBR2...,2014-07-10 17:19:38,t,5184,3456,1.5,Fresh blueberries,majkmmiklavc,...,NaN,NaN,8731049,26411,selective focus of blueberry plant,NaN,NaN,NaN,NaN,LiJ+M4s=-pj;~qx]RpbXx1ogRkob
2,XBGacbT3vXI,https://unsplash.com/photos/XBGacbT3vXI,https://images.unsplash.com/photo-143633523196...,2015-07-08 05:54:38.486126,t,6000,4000,1.5,NaN,shooshanig,...,NaN,NaN,2224540,19250,photography of calm beach side,NaN,NaN,NaN,NaN,LSL}HBR*a{fP_NWVoej[x^s.j[ay
3,FjikPptEbZg,https://unsplash.com/photos/FjikPptEbZg,https://images.unsplash.com/flagged/photo-1441...,2015-08-31 07:12:27.700568,f,3008,2008,1.5,NaN,websanya,...,France,Saint-Étienne-de-Tinée,45536,421,green trees on mountain under white clouds dur...,NaN,NaN,NaN,NaN,LyF7Cux[M{kB?^t6azbHRjjrt7ae
4,PXdBkNF8rlk,https://unsplash.com/photos/PXdBkNF8rlk,https://images.unsplash.com/photo-144596683821...,2015-10-27 17:30:25.724092,t,3000,2000,1.5,Icebergs of Iceland’s Vatnajokull,andersjilden,...,Iceland,NaN,7394191,43442,icebergs floating on body of water during daytime,NaN,NaN,NaN,NaN,LQG]];?b~qayBtIU9Ft79xj[tRM|

Dataset: keywords, Shape: (755782, 6)
Columns: ['photo_id', 'keyword', 'ai_service_1_confidence', 'ai_service_2_confidence', 'suggested_by_user', 'user_suggestion_source']

,photo_id,keyword,ai_service_1_confidence,ai_service_2_confidence,suggested_by_user,user_suggestion_source
0,zzwTUqvzIFg,universe,96.990120,NaN,f,NaN
1,zzwTUqvzIFg,wallpapers,NaN,NaN,t,admin
2,zzwTUqvzIFg,nature,99.825333,NaN,t,admin
3,zzwTUqvzIFg,astronomy,96.990120,NaN,f,NaN
4,zzwTUqvzIFg,milky way,43.827744,NaN,f,NaN

Dataset: collections, Shape: (2144835, 5)
Columns: ['photo_id', 'collection_id', 'collection_title', 'photo_collected_at', 'collection_type']

,photo_id,collection_id,collection_title,photo_collected_at,collection_type
0,sYzFIusQp3Q,994,Ocean Bliss,2016-02-23 20:59:57.989651,collection
1,7x4dOkulU9E,143845,12、Valhalla-Twelve,2016-02-28 15:02:19.473947,collection
2,pIfF5Q8AYaE,161986,landscapes,2016-03-16 08:01:37.736831,collection
3,f9NACz3-V-s,177737,Off Piste,2016-03-31 10:44:21.4956,collection
4,1lY3XL_aHu0,172719,Wattpad covers I,2016-04-03 02:05:57.059216,collection

Dataset: conversions, Shape: (6246063, 6)
Columns: ['converted_at', 'conversion_type', 'keyword', 'photo_id', 'anonymous_user_id', 'conversion_country']

,converted_at,conversion_type,keyword,photo_id,anonymous_user_id,conversion_country
0,2024-01-01 00:00:13.341,download,roses,pDGNBK9A0sk,359144ff-1364-4128-b084-687ccc952bec,US
1,2024-01-01 00:00:24.932,download,pug,dbX44TTNxJ0,8cf3c572-97e9-4cd6-bb99-347b3b275c89,US
2,2024-01-01 00:00:26.901,download,pug,NZlbve4F1xk,8cf3c572-97e9-4cd6-bb99-347b3b275c89,US
3,2024-01-01 00:00:49.996,download,mountain,phIFdC6lA4E,4f5805d0-81af-4b04-b2ed-c544ac65353e,AU
4,2024-01-01 00:00:53.965,download,beige,p4NcN83polw,7b50c6d1-172a-4d6f-bf78-b657fde64675,DO

Dataset: colors, Shape: (244953, 8)
Columns: ['photo_id', 'hex', 'red', 'green', 'blue', 'keyword', 'coverage', 'score']

      photo_id     hex  red  green  blue         keyword  coverage     score
0  eNI-0vy7IBE  1F3E42   31     62    66   darkslategray  0.031467  0.064758
1  6L_Jg8RMjmo  9C73A2  156    115   162  lightslategray  0.015067  0.064019
2  6L_Jg8RMjmo  B67FAD  182    127   173       rosybrown  0.017244  0.057042
3  1c5OKDdrqyA  747C44  116    124    68       olivedrab  0.002200  0.048841
4  MhPJdWYWbWI  8D7472  141    116   114            gray  0.003067  0.014727

In [10]:
# save as parquet in data folder
for req_key in datasets.keys():
    datasets[req_key].to_parquet(f"../data/metadata/{req_key}.parquet", index=False)